#game-div.w-100.h-100.d-flex.flex-column.position-relative.d-none
    #game-message.message-banner.mx-auto.d-flex.flex-row
        #waiting-banner.w-100.h-100.d-flex.flex-row.py-2
            .m-auto Waiting for opponent(s)...
                button#cancel-game.btn.btn-warning.ms-3 Cancel
        #status-banner.w-100.h-100.d-flex.flex-row.py-2.d-none
            #status-content.m-auto Game status
    .f-1.overflow-hidden.position-relative
        button.game-chat-button(type="button" data-bs-toggle="offcanvas" data-bs-target="#game-chat-container" aria-controls="game-chat-container")
            span.badge.position-absolute.top-0.start-0.translate-middle.border.border-light.rounded-circle.d-none(style="padding:.3rem;")
                span.visually-hidden New alerts
            img(src="/img/chat.svg")
        #game-chat-container.offcanvas.offcanvas-start.h-75.mw-100.m-auto(tabindex="-1" aria-labelledby="game-chat-container-label")
            .offcanvas-header
                h3 Game Chat
                button.btn-close-white(type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close")
            .offcanvas-body.d-flex.flex-column 
                #game-chat-box.chat-box 
                form#game-chat-form.input-group.mb-2
                    input#game-chat-message.form-control(type="text" autocomplete="off" autocorrect="off" placeholder="Your message" aria-label="message" aria-describedby="send-chat")
                    button#send-game-chat.btn.btn-secondary(type="submit") Send       
        - if (title === 'PushFight')
            include gameBoards/pushfight
        - else if (title === "Liar's Dice")
            include gameBoards/liarsdice
        - else if (title === 'Get 10 points')
            include gameBoards/get10