nav.navbar.navbar-dark.navbar-expand-lg.bg-dark
    .container-fluid
        .navbar-brand(href="#") CYu Play
        ul
            li= `Hello, ${user.displayName}`
            li Profile 
            li
                a#logout(role="button") Logout