.w-100.h-100.mw-100.mh-100.d-flex.flex-column
    #opponent-area.player-area
        .hand-container
        #opponent-message.player-message.d-none
        #opponent-tag.player-tag
            .player-info.d-flex.flex-column
                .player-name ???
                .player-timer-container.d-flex.flex-row.align-items-end
                    .player-timer.me-2.active-timer 0:00
                    .player-reserve 0:00            
            #opponent-score.score-tag 
                .score-container.m-auto 0
    #play-area.middle-area
        #game-prompt.game-prompt.d-none
        .d-flex.w-100.h-100
            .m-auto.game-status
            .deck-container
                .card-container.h-100
                    #draw-deck.playing-card.flip-card
                        .flip-card-inner
                            .flip-card-back 
                            .flip-card-front
                        .peg-count.d-none
                            .fs-6.text-center Count: 
                            #count.fs-5.text-center 0        
            .ms-3.f-1.play-container.position-relative
    #my-area.player-area
        .hand-container
        #my-message.player-message.d-none
        #my-tag.player-tag
            .player-info.d-flex.flex-column
                .player-name ???
                .player-timer-container.d-flex.flex-row.align-items-end
                    .player-timer.me-2.active-timer 0:00
                    .player-reserve 0:00
            #my-score.score-tag 
                .score-container.m-auto 0