#game-board {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	position: relative;
}

.ratio-1x1 {
	grid-column: span 2;
	grid-row: span 2;
}

.filler {
	grid-column: span 1;
	grid-row: span 2;
}

.game-space {
	background-color: #ffdac9;
	border: 1px solid var(--black);
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.game-space.valid-move::after {
	content: '';
	width: 25%;
	height: 25%;
	background-color: #777777;
	opacity: 0.7;
	border-radius: 50%;
	margin: auto;
}

.game-space.empty {
	background-color: var(--black);
}

.center-space-top {
	border-bottom: 3px solid black;
}

.center-space-bottom {
	border-top: 3px solid black;
}

.wall {
	background-color: #777777;
}

.player-timer {
	font-size: 2rem;
}

.game-piece {
	width: 18%;
	height: 9%;
	position: absolute;
	transition: top 0.3s, left 0.3s;
	z-index: 2;
	transform: translate(-50%, -50%);
}

.white {
	background-color: var(--white);
	border: 2px solid var(--black);
}

.black {
	background-color: var(--black);
	border: 2px solid var(--white);
}

.circle {
	border-radius: 50%;
}

.hat {
	position: absolute;
	z-index: 3;
	width: 10%;
	height: 5%;
	background-color: red;
	transform: translate(-50%, -50%);
}
