.modal.fade#end-game-modal(tabindex="-1" aria-labelledby="end-game-label" aria-hidden="true" data-bs-backdrop="static")
    .modal-dialog.modal-dialog-centered
        .modal-content#end-game-modal-content
            .modal-header 
                h5 Game Over
            .modal-body
            .modal-footer
                button#exit-game.btn.btn-primary(type="button" data-bs-dismiss="modal") Exit
                button#offer-rematch.btn.btn-secondary(type="button") Rematch #[span#rematch-count]
